body{
    @apply bg-spring-wood-50;
    max-width: 100vw;
    overflow-x: hidden;
}
html{
    max-width: 100vw;
    overflow-x: hidden; 
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Satoshi', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
}
.bg-white{
    background-color: #fff;
}